body {
  padding: 30px;
  background-color: #1b1c1d;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  color: white;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

hr {
  height: 1px;
  margin: 30px 0;
  border: none;
  background-color: #3b3c3d;
}

a {
  color: dodgerblue;
}

.logo {
  width: 405px;
}

.calculate input {
  padding: 4px 6px;
  margin: 10px;
  font-size: 1em;
}
.calculate input:disabled {
  background-color: rgba(255, 255, 255, 0.1);
}

.calculate span.same {
  display: block;
  margin: 10px;
}

.calculate button {
  display: block;
  padding: 4px 6px;
  margin: 10px;
}

.calculations ul {
  padding: 0;
  list-style-type: none;
}

.calculations li {
  display: block;
  padding: 12px;
  margin-bottom: 1px;
  background-color: #333339;
  color: #ddddee;
}

.calculations strong {
  padding: 4px 8px;
  margin: 0 4px;
  border: 1px solid #666669;
  border-radius: 7px;
  color: white;
}
