body {
  padding: 0;
  margin: 0;
  background-color: #1b1c1d;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  color: white;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

hr {
  height: 1px;
  margin: 30px 0;
  border: none;
  background-color: #3b3c3d;
}

a {
  color: #e222a9;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 1000px;
  height: fit-content;
  position: static;
  background: #ff2254;
  background: linear-gradient(90deg, #ff2254 0%, #c623ff 100%);
  transform-origin: bottom left;
  transition: max-height 0.2s ease, transform 0.2s ease;
  overflow: hidden;
}
.message.close {
  max-height: 0;
  transform: translate(0, -100%);
}

.message span {
  display: block;
  margin: 3px 20px 6px 20px;
}

.message button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.message img {
  width: 12px;
  height: auto;
  margin: 2px 20px 2px 20px;
}

header .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
}
@media (max-width: 768px) {
  header .title {
    flex-direction: column;
  }
}

header .logo {
  max-width: 405px;
}

header .subtitle {
  font-size: 1.25em;
  font-weight: 400;
}
@media (max-width: 768px) {
  header .subtitle {
    margin-top: 10px;
    font-size: 1em;
  }
}

.calculate {
  width: fit-content;
  margin: 0 auto;
}
@media (max-width: 540px) {
  .calculate {
    padding: 0 20px;
  }
}

.calculate .instructions {
  margin: 10px 10px 20px 10px;
}

.calculate input {
  padding: 4px 6px;
  margin: 10px;
  font-size: 1em;
}
.calculate input:disabled {
  background-color: rgba(255, 255, 255, 0.1);
}

.calculate span.in {
  display: inline-block;
  margin: 10px;
}
@media (max-width: 540px) {
  .calculate span.in {
    display: block;
  }
}

.calculate span.same {
  display: block;
  margin: 10px;
}

.calculate button {
  display: block;
  padding: 8px 16px;
  margin: 10px;
  border: 1px solid;
  border-color: #1b1c1d;
  border-radius: 7px;
  background: #e222a9;
  background: linear-gradient(90deg, #c623ff 0%, #ff2254 100%);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.33);
  font-size: 1em;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.33);
  cursor: pointer;
  transition: border-color 0.2s, box-shadow 0.2s;
}
.calculate button:hover {
  border-color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.67);
}
.calculate button:active {
  position: relative;
  top: 1px;
  box-shadow: 0 0 6px rgb(0, 0, 0);
}
.calculate button:hover {
  cursor: pointer;
}

.calculations {
  padding: 0 20px;
}

.calculations ul {
  display: block;
  max-width: fit-content;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}

.calculations li {
  display: block;
  padding: 12px;
  margin-bottom: 1px;
  background-color: #333339;
  line-height: 1.67em;
  color: #ddddee;
}

.calculations strong {
  padding: 2px 6px;
  margin: 0 2px;
  border: 1px solid #666669;
  border-radius: 7px;
  color: white;
}

footer {
  padding: 0 20px;
}

footer span {
  display: block;
}
