* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: $background;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  color: white;
}
h1, h2, h3, h4, h5, p {
  margin: 0;
}
hr {
  height: 1px;
  margin: 20px;
  border: none;
  background-color: #3b3c3d;
}
a {
  color: $brand-middle;
}
input {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
