// Calculate section
.calculate {
  width: fit-content;
  margin: 0 auto;
  @include width-540 {
    padding: 0 20px;
  }
}

// Instructions area
.calculate .instructions {
  margin: 20px 10px;
}

// Form row
.calculate .form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Input wrapper
.calculate .input-group {
  width: 50%;
  flex-grow: 2;
  display: inline-flex;
  align-items: center;
  position: relative; // needed for inner absolutely positioned elements
}

// All input boxes
.calculate input {
  width: 100%; // fill input group container
  padding: 8px 16px;
  border: 2px solid;
  border-color: #b1b1b1;
  border-radius: $border-radius;
  background-color: #f0f0f0;
  box-shadow: 0 1px 6px rgba(black,0.33);
  font-size: 1em;
  transition: border-color 0.2s, background-color 0.2s, box-shadow 0.2s, color 0.2s;
  &::placeholder {
    color: #909090;
  }
  &:hover {
    border-color: rgba($brand-end,0.67);
    background-color: #ffffff;
    box-shadow: 0 1px 6px rgba(black, 0.67);
    //color: $brand-start;
  }
  &:focus {
    border-color: $brand-start;
    background-color: #ffffff;
    box-shadow: 0 1px 6px rgba(black,1);
    outline: none;
    color: $brand-middle;
  }
  &:disabled {
    border-color: #616161;
    background-color: rgba(white,0.1);
  }
}

// Amount input boxes
.input-group.amount input {
  padding-left: 24px; // extra padding for $
  margin: 0;
}
span.usd {
  position: absolute;
  left: 10px; // positioning for $
  color: #909090;
  user-select: none;
  pointer-events: none;
  transition: color 0.2s;
}
input:focus + span.usd {
  color: $brand-middle;
}

// Spans
.calculate span.in {
  display: inline-block;
  margin: 10px; // spacing between inputs
  @include width-540 {
    display: block;
  }
}
.calculate span.same {
  display: block;
  margin: 10px;
}

// Calculate button
.calculate button {
  display: block;
  padding: 10px 24px;
  margin: 20px 0 0 0;
  border: 2px solid;
  border-color: $background;
  border-radius: $border-radius;
  background: $brand-middle; // middle gradient value as a fallback
  background: linear-gradient(90deg, $brand-start 0%, $brand-end 100%);
  box-shadow: 0 1px 6px rgba(0,0,0,0.33);
  font-size: 1em;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px 1px rgba(0,0,0,0.33);
  cursor: pointer;
  transition: border-color 0.2s,
              box-shadow 0.2s;
  &:hover {
    border-color: white;
    box-shadow: 0 1px 6px rgba(0,0,0,0.67);
  }
  &:active {
    position: relative;
    top: 1px;
    box-shadow: 0 0 6px rgba(0,0,0,1.0);
  }
  &:hover {
    cursor: pointer;
  }
  @include width-540 {
    width: 100%;
  }
}
