.calculations {
  padding: 0 20px;
}
.calculations ul {
  display: block;
  max-width: fit-content; // makes width the largest item
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}
.calculations li {
  display: block;
  padding: 12px;
  margin-bottom: 1px;
  background-color: #333339;
  line-height: 1.67em;
  color: #ddddee;
}
.calculations strong {
  padding: 2px 6px;
  margin: 0 2px;
  border: 1px solid #666669;
  border-radius: 7px;
  color: white;
}
