// Calculate section
.calculate {
  width: fit-content;
  margin: 0 auto;
  @include width-540 {
    padding: 0 20px;
  }
}

// Instructions area
.calculate .instructions {
  margin: 10px 10px 10px 10px;
}

// All input boxes
.calculate input {
  padding: 8px 16px;
  margin: 10px;
  border: 2px solid;
  border-color: #b1b1b1;
  border-radius: $border-radius;
  background-color: #f0f0f0;
  box-shadow: 0 1px 6px rgba(black,0.33);
  font-size: 1em;
  transition: border-color 0.2s, background-color 0.2s, box-shadow 0.2s, color 0.2s;

  &::placeholder {
    color: #909090;
  }
  &:hover {
    border-color: rgba($brand-end,0.67);
    background-color: #ffffff;
    box-shadow: 0 1px 6px rgba(black, 0.67);
    color: $brand-start;
  }
  &:focus {
    border-color: $brand-start;
    background-color: #ffffff;
    box-shadow: 0 1px 6px rgba(black,1);
    outline: none;
    color: $brand-middle;
  }
  &:disabled {
    border-color: #616161;
    background-color: rgba(white,0.1);
  }
}

// Input groups
.calculate .input-group {
  display: flex;
  width: fit-content;
  align-items: center;
  position: relative; // needed for inner absolutely positioned elements
}

.calculate .input-group.initial-amount {
  input {
    padding-left: 38px; // extra padding for $
    margin: 0;
  }
  span.usd {
    position: absolute;
    left: 18px;
    color: #909090;
    user-select: none;
    pointer-events: none;
  }
  &:hover > span.usd {
    color: $brand-start;
  }
}

// Spans
.calculate span.in {
  display: inline-block;
  margin: 10px;
  @include width-540 {
    display: block;
  }
}
.calculate span.same {
  display: block;
  margin: 10px;
}

// Calculate button
.calculate button {
  display: block;
  padding: 8px 16px;
  margin: 10px;
  border: 2px solid;
  border-color: $background;
  border-radius: $border-radius;
  background: $brand-middle; // middle gradient value as a fallback
  background: linear-gradient(90deg, $brand-start 0%, $brand-end 100%);
  box-shadow: 0 1px 6px rgba(0,0,0,0.33);
  font-size: 1em;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px 1px rgba(0,0,0,0.33);
  cursor: pointer;
  transition: border-color 0.2s,
              box-shadow 0.2s;
  &:hover {
    border-color: white;
    box-shadow: 0 1px 6px rgba(0,0,0,0.67);
  }
  &:active {
    position: relative;
    top: 1px;
    box-shadow: 0 0 6px rgba(0,0,0,1.0);
  }
  &:hover {
    cursor: pointer;
  }
}
