.calculations {
  padding: 0 20px;
}
.calculations ul {
  display: block;
  min-width: 768px;
  max-width: fit-content; // makes width the largest item if above min-width
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  @include width-768 {
    min-width: 0;
  }
}
.calculations li {
  display: block;
  padding: 12px;
  margin-bottom: 1px;
  background-color: #333339;
  line-height: 1.67em;
  color: #ddddee;
  &:first-child {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
  &:last-child {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
.calculations strong {
  padding: 2px 6px;
  margin: 0 2px;
  border: 1px solid #666669;
  border-radius: 7px;
  color: white;
}
.calculations .no-calculations {
  display: block;
  text-align: center;
}
