footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 20px;
  @include width-640 {
    flex-direction: column;
  }
}
footer section {
  &:last-child span{
    text-align: right;
    @include width-640 {
      text-align: left;
    }
  }
}
footer span {
  display: block;
  line-height: 1.5em;
  white-space: nowrap;
}
