header .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;

  @include width-768 {
    flex-direction: column;
  }
}

header .logo {
  max-width: 405px;
}

header .subtitle {
  font-size: 1.25em;
  font-weight: 400;
  @include width-768 {
    margin-top: 10px;
    font-size: 1.0em;
  }
}
